.header{
  width: 150px;
  position: absolute;
  height: 100vh;
  z-index: 220;
  &::before{
    position: absolute;
    content: "";
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: 10%;
    border: 34px solid #f97777;
    left: 160%;
    transform: rotate(39deg);
    z-index: -1;
  }
  .content{
    position: relative;
    z-index: 200;
    height: 100%;
    padding: 0 20px;
    &::after{
      font-size: 65px;
      content: "QUIZ";
      position: absolute;
      color: #21214c8c;
      writing-mode: vertical-lr;
      -webkit-text-orientation: sideways;
      transform: rotate(180deg) rotate(50deg);
      bottom: 30px;
      left: 50px;
      line-height: 55px;
      font-weight: 300;
      font-family: 'Luckiest Guy', cursive;
    }
  }
  .logo{
    padding: 0 0 20px;
    margin: 20px 0 140px;
    img{
      width: 100px;
      display: block;
      margin: 0px auto;
    }
  }
  h1{
    color: white;
  }
  ul{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 200;
    position: relative;
    li{
      margin: 0px 0 30px;
      font-size: 17px;
      color: white;
      span{
        color: white;
        font-weight: 600;
        font-size: 25px;
      }
      button{
        margin: 10px 0;
        font-size: 17px;
        color: white; 
        font-family: 'Acme', sans-serif;
        cursor: pointer;
      }
      .fa{
        color: #ffd459;
        font-size: 23px;
        margin: 0 10px 0 0;
      }
    }
  }
  .jokers button{
    display: block;
    width: 100%;
    background-color: transparent;
    text-align: left;
    padding: 0;
  }
  
}

