.app{
  display: flex;
  height: 100vh;
  font-family: 'Acme', sans-serif;
  overflow: hidden;
  &__content{
    position: relative;
    width: 100%;
    padding: 20px;
    &::after{
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-top: 180px solid transparent;
      border-bottom: 130px solid transparent;
      border-left: 160px solid #59d4d4;
      top: -20px;
      right: 60px;
      transform: rotate(78deg);
      z-index: 1;
    }
    &::before{
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-top: 140px solid transparent;
      border-bottom: 160px solid transparent;
      border-left: 180px solid #ffd45a;
      bottom: -80px;
      right: 0px;
      transform: rotate(103deg);
      z-index: 1;
    }
  }
}

