.app{
  display: flex;
  height: 100vh;
  font-family: 'Acme', sans-serif;
  overflow: hidden;
  &__content{
    position: relative;
    width: 100%;
    &::after{
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-top: 180px solid transparent;
      border-bottom: 130px solid transparent;
      border-left: 160px solid #59d4d4;
      top: -20px;
      right: 60px;
      transform: rotate(78deg);
      z-index: 1;
    }
    &::before{
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-top: 140px solid transparent;
      border-bottom: 160px solid transparent;
      border-left: 180px solid #ffd45a;
      bottom: -80px;
      right: 0px;
      transform: rotate(103deg);
      z-index: 1;
    }
  }
  .mobileOverlay{
    background: rgb(60,60,116);
    background: linear-gradient(90deg, rgba(60,60,116,1) 0%, rgba(42,42,63,1) 100%);
    position: absolute;
    flex-wrap: wrap;
    z-index: 8000;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Luckiest Guy', cursive;
    text-transform: uppercase;
    font-size: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    .text{
      width: 100%;
    }
    .logo{
      width: 100px;
      height: auto;
      img{
        width: 100%;
      }
    }
  }
  @media only screen and (max-width: 900px){
    .app__content, header{
      display: none;
    }
    .mobileOverlay{
      display: flex;
    }
  }
}

